{% extends 'base.html' %}

{% load static %}
{% load currency_filters %}

{% block header %}{{ selected_business.name }} - Create User {% endblock %}

{% block content %}
	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
    <h2 style="text-align: center; text-decoration: underline;">Create New User</h2>
	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}	
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Create User</button>
    </form>
{% endblock %}
